[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=ru.auroraos.lab8
Exec=/usr/bin/ru.auroraos.lab8
Name=Template
Name[ru]=Шаблон

[X-Application]
Permissions=
OrganizationName=ru.auroraos
ApplicationName=lab8
ExecDBus=/usr/bin/ru.auroraos.lab8
