[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=ru.auroraos.Project_2
Exec=/usr/bin/ru.auroraos.Project_2
Name=Template
Name[ru]=Шаблон

[X-Application]
Permissions=
OrganizationName=ru.auroraos
ApplicationName=Project_2
ExecDBus=/usr/bin/ru.auroraos.Project_2
